In [13]:
import pandas as pd
data = pd.read_excel('/home/machine_learning/data-20250621T015705Z-1-001/data/R公司_人員資料.xlsx')
data.columns

Index(['員工編號(EmployeeNumber)', '性別(Gender)', '年齡(Age)', '是否為成年人(Over18)',
       '婚姻狀態(MaritalStatus)', '通勤距離(DistanceFromHome)', '教育程度(Education)',
       '教育專業領域(EducationField)', '部門(Department)', '職位名稱(JobRole)',
       '職位等級(JobLevel)', '在該公司工作總年資(YearsAtCompany)',
       '在該職位工作年資(YearsInCurrentRole)', '在該職等工作年資(YearsSinceLastPromotion)',
       '與現任管理者工作年資(YearsWithCurrManager)', '總工作年資(TotalWorkingYears)',
       '過去工作公司家數(NumCompaniesWorked)', '每日工資額(DailyRate)',
       '每小時工資額(HourlyRate)', '月收入(MonthlyIncome)', '月費率(MonthlyRate)',
       '標準工作時間(StandardHours)', '加班(OverTime)', '調薪百分比(PercentSalaryHike)',
       '股票選擇權等級(StockOptionLevel)', '績效評估(PerformanceRating)',
       '出差頻率(BusinessTravel)', '去年訓練時間(TrainingTimesLastYear)',
       '工作滿意度(JobSatisfaction)', '工作環境滿意度(EnvironmentSatisfaction)',
       '工作投入(JobInvolvement)', '工作生活平衡(WorkLifeBalance)',
       '人際關係滿意度(RelationshipSatisfaction)', '離職(Attrition)'],
      dtype='object')

In [17]:
data['年齡(Age)'].mean()

np.float64(36.923809523809524)

In [16]:
data[['年齡(Age)','總工作年資(TotalWorkingYears)']]

      年齡(Age)  總工作年資(TotalWorkingYears)
0          41                         8
1          49                        10
2          37                         7
3          33                         8
4          27                         6
...       ...                       ...
1465       36                        17
1466       39                         9
1467       27                         6
1468       49                        17
1469       34                         6

[1470 rows x 2 columns]

In [19]:
x = data['年齡(Age)'] > 40
data[x]

,員工編號(EmployeeNumber),性別(Gender),年齡(Age),是否為成年人(Over18),婚姻狀態(MaritalStatus),通勤距離(DistanceFromHome),教育程度(Education),教育專業領域(EducationField),部門(Department),職位名稱(JobRole),...,股票選擇權等級(StockOptionLevel),績效評估(PerformanceRating),出差頻率(BusinessTravel),去年訓練時間(TrainingTimesLastYear),工作滿意度(JobSatisfaction),工作環境滿意度(EnvironmentSatisfaction),工作投入(JobInvolvement),工作生活平衡(WorkLifeBalance),人際關係滿意度(RelationshipSatisfaction),離職(Attrition)
0,1,Female,41,Y,Single,1,2,Life Sciences,Sales,Sales Executive,...,0,3,Travel_Rarely,0,4,2,3,1,1,Yes
1,2,Male,49,Y,Married,8,1,Life Sciences,Research & Development,Research Scientist,...,1,4,Travel_Frequently,3,2,3,2,3,4,No
6,10,Female,59,Y,Married,3,3,Medical,Research & Development,Laboratory Technician,...,3,4,Travel_Rarely,3,1,3,4,2,1,No
18,23,Female,53,Y,Married,2,4,Life Sciences,Sales,Manager,...,0,3,Travel_Rarely,3,4,1,2,3,3,No
25,32,Female,53,Y,Divorced,5,3,Other,Research & Development,Manager,...,1,3,Travel_Rarely,3,3,3,3,2,4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,2037,Male,41,Y,Divorced,3,3,Life Sciences,Sales,Sales Executive,...,1,3,Travel_Rarely,5,2,3,2,3,3,No
1452,2044,Male,50,Y,Divorced,1,4,Life Sciences,Sales,Sales Executive,...,2,3,Travel_Frequently,3,3,2,3,3,4,Yes
1454,2046,Female,45,Y,Single,20,3,Life Sciences,Sales,Sales Executive,...,0,3,Travel_Rarely,3,3,4,3,3,3,No
1461,2055,Male,50,Y,Divorced,28,3,Marketing,Sales,Sales Executive,...,1,3,Travel_Rarely,3,1,4,2,3,2,Yes
1468,2065,Male,49,Y,Married,2,3,Medical,Sales,Sales Executive,...,0,3,Travel_Frequently,3,2,4,2,2,4,No

In [21]:
x = data['年齡(Age)'] > 40
y = data['性別(Gender)'] == 'Male'
z = x & y
data[z]

,員工編號(EmployeeNumber),性別(Gender),年齡(Age),是否為成年人(Over18),婚姻狀態(MaritalStatus),通勤距離(DistanceFromHome),教育程度(Education),教育專業領域(EducationField),部門(Department),職位名稱(JobRole),...,股票選擇權等級(StockOptionLevel),績效評估(PerformanceRating),出差頻率(BusinessTravel),去年訓練時間(TrainingTimesLastYear),工作滿意度(JobSatisfaction),工作環境滿意度(EnvironmentSatisfaction),工作投入(JobInvolvement),工作生活平衡(WorkLifeBalance),人際關係滿意度(RelationshipSatisfaction),離職(Attrition)
1,2,Male,49,Y,Married,8,1,Life Sciences,Research & Development,Research Scientist,...,1,4,Travel_Frequently,3,2,3,2,3,4,No
27,35,Male,42,Y,Married,8,4,Marketing,Sales,Sales Executive,...,1,3,Travel_Rarely,2,2,3,3,3,4,No
31,40,Male,44,Y,Married,10,4,Other,Research & Development,Healthcare Representative,...,0,3,Travel_Rarely,5,4,4,3,4,4,No
36,47,Male,50,Y,Married,3,2,Marketing,Sales,Sales Representative,...,0,3,Travel_Rarely,2,3,1,2,3,3,Yes
48,62,Male,46,Y,Single,5,4,Marketing,Sales,Sales Executive,...,0,4,Travel_Frequently,4,4,1,3,3,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444,2032,Male,56,Y,Married,7,2,Technical Degree,Research & Development,Laboratory Technician,...,1,3,Travel_Rarely,4,3,4,3,1,4,Yes
1448,2037,Male,41,Y,Divorced,3,3,Life Sciences,Sales,Sales Executive,...,1,3,Travel_Rarely,5,2,3,2,3,3,No
1452,2044,Male,50,Y,Divorced,1,4,Life Sciences,Sales,Sales Executive,...,2,3,Travel_Frequently,3,3,2,3,3,4,Yes
1461,2055,Male,50,Y,Divorced,28,3,Marketing,Sales,Sales Executive,...,1,3,Travel_Rarely,3,1,4,2,3,2,Yes
1468,2065,Male,49,Y,Married,2,3,Medical,Sales,Sales Executive,...,0,3,Travel_Frequently,3,2,4,2,2,4,No

In [22]:
# 30歲以下，已婚的人有多少?
a = data["婚姻狀態(MaritalStatus)"] == 'Married'
b = data['年齡(Age)'] < 30
c = a&b
data[c]

,員工編號(EmployeeNumber),性別(Gender),年齡(Age),是否為成年人(Over18),婚姻狀態(MaritalStatus),通勤距離(DistanceFromHome),教育程度(Education),教育專業領域(EducationField),部門(Department),職位名稱(JobRole),...,股票選擇權等級(StockOptionLevel),績效評估(PerformanceRating),出差頻率(BusinessTravel),去年訓練時間(TrainingTimesLastYear),工作滿意度(JobSatisfaction),工作環境滿意度(EnvironmentSatisfaction),工作投入(JobInvolvement),工作生活平衡(WorkLifeBalance),人際關係滿意度(RelationshipSatisfaction),離職(Attrition)
4,7,Male,27,Y,Married,2,1,Medical,Research & Development,Laboratory Technician,...,1,3,Travel_Rarely,3,2,1,3,3,4,No
34,45,Male,24,Y,Married,1,3,Medical,Research & Development,Research Scientist,...,1,3,Travel_Rarely,2,4,2,3,2,1,Yes
54,72,Female,26,Y,Married,23,3,Marketing,Sales,Sales Executive,...,1,3,Travel_Rarely,2,4,3,2,2,3,No
71,94,Male,29,Y,Married,2,3,Life Sciences,Research & Development,Research Scientist,...,1,4,Travel_Rarely,3,2,3,3,3,4,No
96,128,Female,24,Y,Married,3,2,Other,Sales,Sales Executive,...,1,4,Travel_Rarely,2,3,1,3,2,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,1987,Female,25,Y,Married,2,3,Human Resources,Human Resources,Human Resources,...,0,3,Travel_Rarely,3,2,3,3,3,3,No
1438,2023,Male,23,Y,Married,9,3,Marketing,Sales,Sales Representative,...,1,3,Travel_Frequently,3,1,4,3,2,1,Yes
1442,2027,Male,29,Y,Married,1,4,Medical,Research & Development,Research Scientist,...,3,3,Travel_Rarely,3,4,1,3,4,2,Yes
1459,2053,Male,29,Y,Married,13,2,Other,Research & Development,Laboratory Technician,...,1,3,Travel_Rarely,2,2,4,2,3,1,No
1467,2064,Male,27,Y,Married,4,3,Life Sciences,Research & Development,Manufacturing Director,...,1,4,Travel_Rarely,0,2,2,4,3,2,No

In [23]:
#請算全部的人平均月收入是多少?
data['月收入(MonthlyIncome)'].mean()

np.float64(6502.931292517007)

In [27]:
#計算大於40歲的平均月收入
Old = data['年齡(Age)'] > 40
df = data[Old]
df['月收入(MonthlyIncome)'].mean()

np.float64(9535.305376344086)

In [29]:
#計算小於40歲的平均月收入
Old1 = data['年齡(Age)'] < 40
df1 = data[Old1]
df1['月收入(MonthlyIncome)'].mean()

np.float64(4943.5)