In [12]:
import pandas as pd
pd.read_excel('/home/machine_learning/data-20250621T015705Z-1-001/data/R公司_人員資料.xlsx')

,員工編號(EmployeeNumber),性別(Gender),年齡(Age),是否為成年人(Over18),婚姻狀態(MaritalStatus),通勤距離(DistanceFromHome),教育程度(Education),教育專業領域(EducationField),部門(Department),職位名稱(JobRole),...,股票選擇權等級(StockOptionLevel),績效評估(PerformanceRating),出差頻率(BusinessTravel),去年訓練時間(TrainingTimesLastYear),工作滿意度(JobSatisfaction),工作環境滿意度(EnvironmentSatisfaction),工作投入(JobInvolvement),工作生活平衡(WorkLifeBalance),人際關係滿意度(RelationshipSatisfaction),離職(Attrition)
0,1,Female,41,Y,Single,1,2,Life Sciences,Sales,Sales Executive,...,0,3,Travel_Rarely,0,4,2,3,1,1,Yes
1,2,Male,49,Y,Married,8,1,Life Sciences,Research & Development,Research Scientist,...,1,4,Travel_Frequently,3,2,3,2,3,4,No
2,4,Male,37,Y,Single,2,2,Other,Research & Development,Laboratory Technician,...,0,3,Travel_Rarely,3,3,4,2,3,2,Yes
3,5,Female,33,Y,Married,3,4,Life Sciences,Research & Development,Research Scientist,...,0,3,Travel_Frequently,3,3,4,3,3,3,No
4,7,Male,27,Y,Married,2,1,Medical,Research & Development,Laboratory Technician,...,1,3,Travel_Rarely,3,2,1,3,3,4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2061,Male,36,Y,Married,23,2,Medical,Research & Development,Laboratory Technician,...,1,3,Travel_Frequently,3,4,3,4,3,3,No
1466,2062,Male,39,Y,Married,6,1,Medical,Research & Development,Healthcare Representative,...,1,3,Travel_Rarely,5,1,4,2,3,1,No
1467,2064,Male,27,Y,Married,4,3,Life Sciences,Research & Development,Manufacturing Director,...,1,4,Travel_Rarely,0,2,2,4,3,2,No
1468,2065,Male,49,Y,Married,2,3,Medical,Sales,Sales Executive,...,0,3,Travel_Frequently,3,2,4,2,2,4,No
1469,2068,Male,34,Y,Married,8,3,Medical,Research & Development,Laboratory Technician,...,0,3,Travel_Rarely,3,3,2,4,4,1,No